@use "../custom" as *;

.encuesta .btn-check:checked + .btn,
:not(.btn-check) + .btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
  color: var(--bs-btn-active-color);
  background-color: var(--bs-btn-active-bg);
  border-color: var(--bs-btn-active-border-color);
  border: 1px solid #666 !important;
}

//section carrusel
section#carrusel {
  position: relative;
  top: 0px;
  z-index: -9;
}

.producto-banner-top {
  background: url("../dist/img/image-vida-familiar.jpg") no-repeat center center;
  height: 800px;
}

.container-button {
  position: absolute;
  bottom: 10rem;
  left: 11.25rem;
}

h1.sub-carrusel {
  color: $white;
  text-align: left;
  font-size: 2em;
}

.items-fijos {
  position: relative;
  bottom: 0px;
  z-index: 99999;
  height: 650px;
  //color: #fff;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  p {
    color: $white;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease-in;
    &:hover::after {
      content: "";
      position: absolute;
      bottom: -8px;
      width: 50%;
      height: 5px;
      left: 25%;
      border-radius: 6px;
      background: $secundario;
      z-index: -9;
      -webkit-animation: fadeInTop 1s alternate ease-in-out;
      animation: fadeInTop 1s alternate ease-in-out;
    }
    a {
      color: $white;
      position: relative;
      text-decoration: none;
      transition: all 0.3s ease-in;
    }
  }
  span.material-icons {
    color: $white;
    font-size: 4rem;
  }
}

//Fin section carrusel

//section caracteristicas
.fbox-content {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;
  padding: 0 0.75rem;
}

#carateristicas p {
  color: $gris-dark;
}

.fbox-icon span,
.fbox-icon i {
  height: 4rem;
  padding: 0 0.75rem;
  font-size: 3rem;
}

.fbox-icon svg {
  height: 3rem;
  padding: 0 0.75rem;
  font-size: 2.5rem;
}

.fbox-content h3 {
  font-weight: 600;
  margin-bottom: 0;
  color: #333;
}

.feature-box {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.feature-box {
  position: relative;
  transition: all 0.3s ease-in;
  &:hover::before {
    content: "";
    position: absolute;
    left: -4px;
    bottom: 56px;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    //background: $secundario;
    z-index: -9;
    -webkit-animation: fadeInRight 1s alternate ease-in-out;
    animation: fadeInRight 1s alternate ease-in-out;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

//fin section caracteristicas

//seccion planes

#planes {
  position: relative;
  &:after {
    position: absolute;
    height: 59px;
    content: "";
    top: 542px;
    display: block;
    background-color: $secundario;
    width: 101%;
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1.5deg);
    z-index: -99;
  }
  &:before {
    position: absolute;
    height: 58px;
    content: "";
    top: -32px;
    display: block;
    background-color: $secundario;
    width: 100%;
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1.5deg);
    z-index: 9;
  }
}

.card-plan {
  background: $gris-dark;
  border-radius: 16px;
  color: $white;
  padding: 8px;
  border: 2px solid $gris-dark;
  &:hover {
    border: 2px solid $white;
  }
  .acordeon-plan {
    color: $white;
  }
  &:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: all 0.3s ease-in;
  }
  h3:nth-child(2) {
    font-weight: 400;
  }
}

p.card-text a {
  min-height: 250px;
}

.back-white {
  background-color: $white;
  box-shadow: rgba(51, 51, 51, 0.131) 0px 7px 29px 0px;
}

.back-diagonal {
  background: #0076a9;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.acordeon-plan-interior {
  background-color: $gris-dark;
  color: $white;
  border: 1px solid $gris-dark;
}

.card-plan .acordeon-plan div.accordion-item {
  background-color: #626262;
}

//Fin seccion planes

//divisores

.divisor {
  height: 2px;
  margin: 40px 0px;
  border-bottom: 1px solid #c9d0d3;
}

.divisor-simulador {
  height: 2px;
  margin: 40px 0px;
  border-bottom: 3px solid #1896D3;
}

.divisor-card {
  height: 2px;
  margin: 38px 20px;
  border-bottom: 1px solid #f9be00;
}

.divisor-card-escolaridad {
  height: auto;
  width: 250px;
  margin: 20px 20px;
  border-bottom: 1px solid #f9be00;
}


.row-escolaridad {
  margin: 0 auto;
  gap: 10px;
  min-width: 375px;
  width: 80%;
}


.divisor-small {
  border-bottom: 1px solid $gris-dark;
  padding: 10px 29px 0px 29px;
  margin-bottom: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

//fin divisores

//Coberturas y exclusiones

.que-cubre li {
  margin-left: 27px;
  position: relative;
  padding-bottom: 7px;
}

.que-cubre li span {
  position: absolute;
  top: -1px;
  color: $verde;
  left: -30px;
}

.no-cubre li {
  margin-left: 27px;
  position: relative;
  padding-bottom: 7px;
}

.no-cubre li span {
  position: absolute;
  top: -1px;
  color: $verde;
  left: -30px;
}

.no-cubre li span {
  position: absolute;
  top: -1px;
  color: $error;
  left: -30px;
}

.backgris {
  background-color: $backgris;
}

.back-gris-light {
  color: #faf6f5;
}

.back-gradiente {
  background: #def4ff;
  border-radius: 16px;
  max-width: 800px;
  p,
  h2 {
    color: $black;
  }
  span.material-icons-round {
    font-size: 3.5rem;
  }
}

//Fin Coberturas y exclusiones

//Tabs Contenido

.acordeones .accordion {
  //   box-shadow: rgba(100, 100, 111, 0.05) 0px 7px 29px 0px, rgba(0, 0, 0, 0.1) 0px 7px 29px 0px;
  transition: all 0.3s ease-in;
}

.accordion-button {
  text-align: left;
  background-color: #ebeff4;
}

.accordion-button:not(.collapsed) {
  border-radius: 8px;
  background-color: #ebeff4;

  //  box-shadow: rgba(100, 100, 111, 0.05) 0px 7px 29px 0px, rgba(0, 0, 0, 0.1) 0px 7px 29px 0px;
}

.accordion-flush .accordion-item {
  border-left: 8px solid #0076a9;
  background-color: #ebeff4;
  border-radius: 8px 8px 8px 8px;
  border-right: 8px solid #ebeff4;
  //box-shadow: rgba(100, 100, 111, 0.05) 0px 7px 29px 0px, rgba(0, 0, 0, 0.1) 0px 7px 29px 0px;
}

//Fin Tabs Contenido

//categorias-productos

#categorias {
  background: $white;
}

/*.splide__track{
    padding-bottom: 100px;
}*/

.splide2 ul.splide__pagination {
  position: relative;
  top: -73px;
}

.splide__pagination__page.is-active {
  background: $primary !important;
  transform: scale(1.4);
  width: 20px;
  border-radius: 6px;
  margin: 5px 8px;
}

span.icono-destacada.material-icons-outlined {
  border-radius: 4px;
  padding: 8px;
  border: 2px solid #ffb300;
  margin: 0px 2px;
  color: $gris-light;
  font-size: 1rem;
  &:hover {
    color: $white;
    border: 2px solid $primary;
    transition: all 0.3s ease-in;
    background-color: $primary;
  }
}

.caracteristica-especial {
  height: 37px;
}

.nav.nav-tabs.tabs-categorias {
  border-bottom: 0px solid $white;
}

.tab-content-categorias {
  //border: 1px solid $gris-light;
  border: 1px solid #0076a9;
  border-radius: 8px;
  background: $white;
}

.tabs-categorias button.nav-link {
  font-size: 1rem;
  font-weight: bolder;
  padding: 16px 32px;
  border-bottom: 15px;
  border: 1px solid #ccc;
  border-bottom: 0px solid;
  border-radius: 12px 12px 0px 0px;
}

.nav-tabs .nav-link {
  border-top-left-radius: var(--bs-nav-tabs-border-radius);
  border-top-right-radius: var(--bs-nav-tabs-border-radius);
  margin: -1px 8px;
}

.fix-icono {
  position: absolute;
  padding: 0px 8px;
}

.tabs-categorias .nav-link.active {
  border-color: #0076a9;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

/*@-webkit-keyframes back-gradiente-producto {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes back-gradiente-producto {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes back-gradiente-producto {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}*/
.card-content-escolaridad {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  width: 337px;
  height: auto;
  transition: all 0.3s ease-in;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: $white;
  border: 2px solid $white;
  border-radius: 20px;

  &:hover {
    transition: all 0.3s ease-in;
    transform: translateY(10px) scale();
    z-index: 99;
    border: 2px solid #0076a9;
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  width: 337.33px;
  height: auto;
  transition: all 0.3s ease-in;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border: 2px solid $white;
  border-radius: 16px;

  &:hover {
    transition: all 0.3s ease-in;
    transform: translateY(10px) scale();
    z-index: 99;
    border: 2px solid #0076a9;
  }
}

.card-content .card-body {
  padding: 0px;
}

.card-content div a {
  width: 100%;
  display: block;
  text-decoration: none;
  .h5 {
    height: 85px;
    //background-color: red;
  }
}

.card-content div p a {
  //height: 250px;
  padding: 10px 20px;
}

.card-content a {
  text-align: center;
  img {
    width: 68px;
    padding-top: 16px;
  }
}

.plan-recomendado {
  border: 1px solid #e8bc28;
  border-radius: 8px;
  padding: 10px;
}

.box-plan-recomendado {
  height: 50px;
  padding-top: 16px;
}

.container-btn {
  bottom: 0;
  position: inherit;
}

a.h5 {
  position: relative;
  color: $gris-dark;
  z-index: 9;
  padding-bottom: 4px;
  margin-bottom: 16px;
  height: 75px;
  &::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 79px;
    height: 4px;
    -webkit-transform: skew(0deg) translateX(-50%);
    transform: skew(0deg) translateX(-50%);
    //background: $secundario;
    z-index: -9;
  }
}

//fin categorias-productos

//Clic to Call

.content-ctc {
  background-color: #ececec;
  padding: 12px;
  border-radius: 5px;
}

.ctc-open {
  width: 330px;
  position: fixed;
  right: 13px;
  visibility: hidden;
  bottom: 100px;
  background-color: $gris-light;
  padding: 1px;
  z-index: 999;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.gradient-border {
  --border-width: 3px;
  border-radius: 8px;

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(60deg, $primary, $secundario, $primary);
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

//Fin Clic to call

//planes PostVenta

.espaciado-cabecera {
  margin-top: 100px;
}

.espaciado {
  margin-top: 200px;
}

.espacido-padding {
  padding-top: 5rem;
}

section#PerdidaRenuncia p i {
  font-size: 3rem;
  color: $verde;
  padding: 22px;
  display: block;
}

.contenedor-renuncia {
  transition: all 0.3s ease-in;
}
.encuesta label {
  border-radius: 36px;
  margin-bottom: 12px;
  height: 44px;
  width: 42px;
  padding: auto;
}

.contenedor-plan {
  padding: 38px 20px 0px 20px;
  border: 2px solid #ebebeb;
  border-radius: 4px;
  &:hover {
    transition: all 0.3s ease-in;
    //box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
}

.fecha-contratacion {
  background: #fff3de;
  border: 1px solid #b34a00;
  border-radius: 28px;
  padding: 2px 8px;
  position: relative;
  top: -4px;
  font-size: 16px;
}

.carousel-caption.caption-pventa {
  left: 61%;
  text-align: left;
  width: 30%;
  position: absolute;
  top: 4.5em;
}

.box-item-cobertura {
  padding: 10px;
  border-radius: 8px;
}

.carousel-caption.caption-pventa h5 {
  @include font-size(1.5rem);
}

.item-folleto {
  border-radius: 8px;

  &.segurofamiliar {
    background: url("../../../build/img/foto-folleto1.jpg") no-repeat top center;
    -moz-transition: background-size 2s ease-in;
    background-size: 100%;
    transition: all 0.3s ease-in;
  }
  &.seguroadulto {
    background: url("../../../build/img/foto-folleto2.jpg") no-repeat top center;
    -moz-transition: background-size 2s ease-in;
    background-size: 100%;
    transition: all 0.3s ease-in;
  }
  &.segurojoven {
    background: url("../../../build/img/foto-folleto3.jpg") no-repeat top center;
    -moz-transition: background-size 2s ease-in;
    background-size: 100%;
    transition: all 0.3s ease-in;
  }

  &:hover {
    transition: all 0.3s ease-in;
    background-size: 120%;
  }
}

.contenido-gradiente {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 19%,
    rgba(0, 0, 0, 1) 90%
  );
  position: relative;
  border-radius: 8px;
  //background-image: url("/dist/img/foto-folleto1.jpg") no-repeat center center;
  img {
    position: absolute;
    z-index: -1;
  }
  :hover {
    transition: all 0.3s ease-in;
    box-shadow: rgba(50, 50, 93, 0.4) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
}

.img-pdf i {
  color: $white;
  width: 53px;
  height: 50px;
  font-size: 1.5rem;
}

.descr-folleto {
  color: $white;
}

p.descr-folleto a {
  font-size: 0.8rem;
  font-weight: normal;
  text-align: left;
  padding-top: 12px;
  height: 108px;
}

.item-contenedor {
  padding: 20px 20px 0px 20px;
  border-radius: 8px;
}

.item-contenedor a {
  text-align: center;
  width: 100%;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
  position: relative;
  top: -20px;
  display: block;
}

p.title-folleto {
  font-size: 1.1rem;
  font-weight: bolder;
  padding-bottom: 8px;
  color: $white;
  border-bottom: 1px solid #ccc;
  height: 70px;
}

// fin planes PostVenta

//otros
.espaciador {
  height: 200px;
}

.btn-wizard-secundary {
  color: #b7c8da;
  background: #ebeff4;
}

.btn-primary {
  color: $white;
  background: #0076a9;
}

.btn-primary:hover {
  color: $white;
  background: #00648f;
}

.btn-amarillo {
  color: $black;
  border: 2px solid $black;
  background: #F9BE00;
}

.btn-amarillo:hover {
  color: $black;
  border: 2px solid $black;
  background: #FDE1A7;
}

.contenedor-imagen-categoria {
  height: 650px;
  background-color: $gris-dark;
  background: url("../../../build/img/image-vida-familiar.jpg") no-repeat center
    center;
}

.owl-carousel {
  padding-top: 415px;
}

.owl-carousel .owl-item img {
  display: block !important;
  width: 79px !important;
  text-align: center;
  margin: auto;
}

.owl-item.active {
  border-radius: 9px;
  height: 300px;
}

.owl-nav {
  text-align: center;
  width: 100%;
}

button.owl-prev span,
button.owl-next span {
  font-size: 34px;
}

.contenedor-item-owl {
  background-color: rgba(255, 255, 255, 0.53);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  padding: 16px;
  border: 1px solid $gris-light;
  border-radius: 9px;
  color: $white;
  text-decoration: none;
  &:hover {
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    background-color: $primary;
    color: $gris-dark;
    border-color: $primary;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
  p,
  a,
  h4 {
    text-decoration: none;
    color: $white;
    height: 65px;
    &:hover {
      color: $white;
    }
  }
}
//fin otros

//requisitos

.fondo-requisitos {
  background-size: 400% 400%;
  color: $white;
  height: auto;

  -webkit-animation: AnimationName 20s ease infinite;
  -moz-animation: AnimationName 20s ease infinite;
  animation: AnimationName 20s ease infinite;
}

.fondo-denunciar-siniestros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 40px;
  width: 100%;
  height: auto;
  background: #ebeff4;
}

.fondo-agregar-viajero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: auto;
  background: #ebeff4;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

section#requisitos div ol li::marker {
  font-size: 1.1rem;
  font-weight: bolder;
}

.imagen-req span {
  font-size: 6.3rem;
  text-align: center;
}

//Fin requisitos

//siniestros

.lista-siniestro {
  :hover {
    color: $primary;
  }
}

//fin siniestros

//wizard

.wizard-mobile {
  border-radius: 8px;
  border: 1px solid $backgris;
  width: 90%;
}

.contenedor-wizard {
  margin-top: 172px;
  margin-bottom: 2px;
  width: 80%;
}

.nombre-paso {
  font-size: 0.7rem;
  margin-bottom: 0px;
}

.paso-siguiente > p,
.paso-siguiente > span {
  color: $gris-light;
}

.paso-actual,
.paso-siguiente {
  padding: 8px 16px;
}

.now-next {
  display: block;
}

//fin wizard

//CTC

.btn-ayuda-flotante {
  position: fixed;
  background-color: $primary;
  padding: 10px;
  right: 1%;
  bottom: 33px;
  border-radius: 28px;
  z-index: 99999;
  cursor: pointer;
  &:hover {
    background-color: #006d94;
    transition: all 0.3s ease-in;
  }
}

.btn-ayuda-flotante c {
  color: #f5f5f5;
  position: relative;
  top: -6px;
  padding: 20px;
  text-decoration: none;
  span {
    color: #f5f5f5;
    position: relative;
    text-decoration: none;
    top: 8px;
    left: -4px;
  }
}

//Fin CTC

//Forms
span.ic-form {
  position: relative;
  top: 4px;
  font-size: 1rem;
}

.alerta-error-validacion {
  float: right;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 9999;
}

//Fijos
.fijo-arriba {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.color-white {
  color: $white;
}

.color-dark {
  color: $backgris;
}

.color-primary {
  color: $primary;
}

.color-secondary {
  color: $secondary;
}

//herederos y beneficiarios

.box-herederos {
  border: 1px solid rgba(198, 198, 198, 0.429);
  border-radius: 8px;
  padding: 24px;
  position: relative;
  background-color: $white;
  &:hover {
    transition: all 0.3s ease-in;
    box-shadow: 0px 0px 0px 2px #ffb300 inset;
  }
}

.boton-eliminar-beneficiario {
  background-color: $white;
  padding: 13px 18px 19px 13px;
  position: relative;
  border: 1px solid;
  border-radius: 5px;
  border: 1px solid $white;
  top: 4px;
  span {
    position: relative;
    top: 10px;
    right: -3px;
  }
}

.content-nuevo-ben {
  &::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    position: relative;
    top: 11px;
    left: 16px;
    z-index: 99;
    border-style: solid;
    border-width: 0 18px 24.3px 18px;
    border-color: transparent transparent $white transparent;
    -webkit-filter: drop-shadow(1px -5px 2px #cccccc74);
    filter: drop-shadow(1px -5px 3px #cccccc74);
  }
}

//Fin herederos y beneficiarios

//resumen

.informativo li {
  margin-left: 27px;
  position: relative;
  padding-bottom: 7px;
}

.informativo li span {
  position: absolute;
  top: -1px;
  color: $primary;
  left: -30px;
}

//pantalla exito

#exito {
  h1,
  h3,
  h5,
  p {
    color: $white;
  }
}

.video {
  position: fixed;
  z-index: -100;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  //   -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  //filter: grayscale(100%);
}

.cont-opaco {
  background-color: rgba(0, 0, 0, 0.571);
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -99;
  top: 0px;
}

//skeleton

.skeleton-loader:empty {
  width: 100%;
  height: 15px;
  display: block;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 80%
    ),
    lightgray;
  background-repeat: repeat-y;
  background-size: 50px 500px;
  background-position: 0 0;
  animation: shine 1s infinite;
}

@keyframes shine {
  to {
    background-position: 100% 0;
  }
}

//fin skeleton

//Alertas

.alert-warning {
  background: #ffecde;
  border: 1px solid #b34a00;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
}

.alert-info {
  background: #def4ff;
  border: 1px solid #326295;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
}

.alert-danger {
  background: #ffe1de;
  border: 1px solid #b21e27;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
}

.alert-success {
  background: #DEFFF5;
  border: 1px solid #006E62;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
}

//Fin Alertas

.detalles-seguros {
  background: #ffffff;
  border: 1px solid #00648f;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
}

.fondo-viajeros {
  width: auto;
  height: auto;
  padding: 20px 10px 10px 20px;
  background: #ffffff;
  border-radius: 8px;
}

.fondo-cotizacion {
  display: flex;
  flex-direction: column;

  width: auto;
  height: auto;
  background: #ffffff;

  border-width: 1px 1px 1px 0px;
  border-style: solid;
  border-color: #d6e0ea;
  border-radius: 16px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
}

.check-size {
  font-size: 40px;
  width: 40px;
  height: 40px;
}

.detallesPlan {
  font-family: "Rawson Pro", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #0076a9;
  flex: none;
  order: 0;
  flex-grow: 0;
  background-color: transparent;
  border: 0;
}

#modalStyle {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 40px;
  gap: 8px;
  isolation: isolate;
  width: 727px;
  height: 528px;
  background: #ffffff;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.16);
  border-radius: 24px;
}

.text-bg-success {
  background-color: #defff5 !important;
}

.webpay-bg {
  width: 373px;
  background-color: #f6f7f7;
  border-radius: 16px;
  padding: 24px;
  margin-left: 0% !important;
}

.satisfecho {
  width: 97px;
  height: 16px;
  color: #3E4545 !important;
  font-family: "Rawson Pro", sans-serif !important;
  font-style: normal;
  font-weight: 650;
  font-size: 14px;
  line-height: 16px;
}

.satisfaccion {
  margin: 0;
}

.btn-off{
  --bs-btn-color: #fff;
  --bs-btn-bg: #6c757d;
  --bs-btn-border-color: #6c757d;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #5c636a;
  --bs-btn-hover-border-color: #565e64;
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #565e64;
  --bs-btn-active-border-color: #51585e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #6c757d;
  --bs-btn-disabled-border-color: #6c757d;
}

.no-bold {
  font-weight: normal;
}

.position-toast {
  top: 0 !important;
  right: 0 !important;
}

.text-bg-incorrect {
  background-color: #fbeded !important;
}

// Small devices
@media (min-width: 100px) and (max-width: 991px) {
  .position-toast {
    top: 0 !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
  }
}

.body-buttom{
  padding: 24px;
  height: auto;
  box-shadow: 0px 1px 2px rgba(91, 81, 73, 0.2);
  border-radius: 16px;
}

.body-cobertura{
  padding: 24px;
  height: auto;
  background: #F6F7F7;
  box-shadow: 0px 1px 2px rgba(91, 81, 73, 0.2);
  border-radius: 16px;
}

.body-simulador{
  padding: 24px;
  height: auto;
  background: #DEF4FF;
  box-shadow: 0px 1px 2px rgba(91, 81, 73, 0.2);
  border-radius: 16px;
}

a.btn-menos-monto {
  position: relative;
  left: -59px;
  top: 85px;
}

a.btn-mas-monto {
  position: relative;
  top: 88px;
  left: 65px;
}

.text-primary-uf {
  --bs-text-opacity: 1;
  color:  #008EC4 !important;
}

.container-text-planes {
  width: auto;
  margin-left: 200px;
}

.body-buttom-beneficiario {
  padding: 24px;
  height: auto;
  width: 80%;
  min-width: 327px;
  background: $light;
  border-radius: 16px;
}

.body-buttom-beneficiario label {
  position: relative;
  right: -35px;
  top: -5px;
}

.color-red {
  color: red;
}

.color-green {
  color: $verde;
}

